@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto Mono', monospace;
}

ul a.active {
    color: #1861c5;
    text-decoration: underline;
    font-weight: bold;
}